* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F8F7F6;

  font-family: "ff-netto-web";
  font-weight: normal;
  font-size: 1.2rem;

  margin: 4rem 8rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: "ff-netto-web";
  font-weight: normal;
}

h1, h2, h3, p, ul, ol {
  margin-bottom: 1rem;
}

ul {
  list-style-type: square;
}

header {
  margin-top: 4rem;

  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 2rem;
}

.wf-loading h1, .wf-loading h2 {
  visibility: hidden;
}

.wf-active h1, .wf-active h2 {
  visibility: visible;
}

footer {
  position: absolute;
  text-align: right;

  bottom: 0.25rem;
  right: 0.25rem;
  left: 0.25rem;
}

#mixpanel-badge {
  position: fixed;

  left: 5px;
  bottom: 0px;
}
